.nav {
	display: flex;
	flex-direction: column;
	padding: calc(var(--offset) * 1.2) 0;
	width: 100%;

	@media (max-width: 999px) {
		padding: var(--offset) 0;
	}

	&__top {
		display: flex;
		align-items: center;
		gap: var(--offset);
		margin-bottom: calc(var(--offset) * 0.5);

		@media (max-width: 999px) {
			justify-content: space-between;
			position: relative;
			z-index: 10;
		}

		& .btn {
			@media (max-width: 999px) {
				display: none;
			}
		}
	}

	&__bottom {
		width: 100%;

		@media (max-width: 999px) {
			transition-duration: 0.5s;
			transition-property: transform;
			transform: translateX(-100%);
			position: fixed;
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 100%;
			gap: 1em;
			top: 0;
			left: 0;
			z-index: 5;
			background-color: var(--color-bg-secondary);
		}

		&.open {
			transform: translateX(0);
		}

		&-list {
			display: flex;
			align-items: center;
			gap: calc(var(--offset) * 3);

			@media (max-width: 999px) {
				flex-direction: column;
				align-items: flex-start;
				margin-top: calc(var(--offset) * 6);
				width: 100%;
				gap: 0;
				overflow-y: auto;
			}

			& li {
				width: 100%;
			}

			& li a {
				font-weight: 700;
				font-size: calc(var(--fz) * 0.9);
				color: var(--color-text-primary);
				transition-duration: 0.5s;
				transition-property: color;

				@media (max-width: 999px) {
					font-size: calc(var(--fz) * 1.2);
					padding: 0.7em 0 0.7em 1em;
					width: 100%;
					display: block;
					border-bottom: 0.1em solid var(--color-text-secondary);
				}

				&:hover,
				&:focus,
				&:focus-within {
					color: var(--color-text-secondary);
				}
			}
		}
	}

	&__logo {
		display: flex;
		align-items: center;
		gap: var(--offset);
		margin-right: auto;

		@media (max-width: 999px) {
			margin: 0;
		}

		&:hover span,
		&:focus span,
		&:focus-within span {
			color: var(--color-text-primary);
		}

		&:hover img,
		&:focus img,
		&:focus-within img {
			transform: scale(0.95);
		}

		& img {
			width: calc(var(--offset) * 3);
			height: calc(var(--offset) * 3);
			object-fit: contain;
			transform-origin: center;
			transform: scale(1);
			transition-duration: 0.5s;
			transition-property: transform;
		}

		& span {
			max-width: calc(var(--offset) * 14);
			font-weight: 500;
			font-size: calc(var(--fz) * 0.75);
			line-height: 1.2;
			color: var(--color-text-secondary);
			transition-duration: 0.5s;
			transition-property: color;

			@media (max-width: 480px) {
				display: none;
			}
		}
	}

	&__network {
		display: flex;
		align-items: center;
		gap: calc(var(--offset) * 0.5);
		margin-right: calc(var(--offset) * 2);

		@media (max-width: 999px) {
			display: none;
		}

		&:hover svg,
		&:focus svg,
		&:focus-within svg {
			fill: var(--color-text-secondary);
		}

		&:hover span,
		&:focus span,
		&:focus-within span {
			color: var(--color-text-secondary);
		}

		&:hover b,
		&:focus b,
		&:focus-within b {
			color: var(--color-text-secondary);
		}

		& svg {
			width: calc(var(--offset) * 0.8);
			height: calc(var(--offset) * 0.8);
			fill: var(--color-bg-dark-blue);
			transition-duration: 0.5s;
			transition-property: fill;
		}

		& span {
			font-weight: 500;
			font-size: calc(var(--fz) * 0.8);
			line-height: 130%;
			color: var(--color-text-primary);
			transition-duration: 0.5s;
			transition-property: color;
		}

		& b {
			font-weight: 700;
			font-size: calc(var(--offset) * 0.85);
			line-height: 150%;
			color: var(--color-bg-dark-blue);
			transition-duration: 0.5s;
			transition-property: color;
		}
	}

	&-lang-dropdown {
		position: relative;
	}
}

.nav__bottom-footer {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	gap: var(--offset);
	margin-top: auto;
	padding: var(--offset);

	@media (min-width: 999px) {
		display: none;
	}
}

.nav__bottom-contacts {
	& .nav__network {
		display: flex;
		margin-top: 0.7em;
	}
	& .nav__network span {
		font-size: calc(var(--fz) * 1.2);
	}

	& .nav__network svg {
		width: calc(var(--fz) * 1.5);
		height: calc(var(--fz) * 1.5);
	}
}

.nav__bottom-cocials {
	display: flex;
	align-items: center;
	gap: 1em;

	& a {
		width: calc(var(--offset) * 2.5);
		height: calc(var(--offset) * 2.5);
		border-radius: 50%;
		background-color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		transition-property: box-shadow;
		transition-duration: 0.5s;

		&:hover,
		&:focus,
		&:focus-within {
			box-shadow: 0 0 0 0.05em var(--color-bg-dark-blue);
		}

		& svg {
			height: var(--offset);
			width: calc(var(--offset) * 1.1);
		}
	}
}

.nav__btn {
	display: none;
	border: none;
	box-shadow: 0 0 0 0.1em #e9e9e9;
	border-radius: 50%;
	width: calc(var(--offset) * 2.4);
	height: calc(var(--offset) * 2.4);
	padding: 0.6em 0.4em;
	transition: transform 0.5s ease;
	transform: scale(1) translateZ(0);
	will-change: transform;
	overflow: hidden;
	backface-visibility: hidden;
	z-index: 5;
	position: relative;

	& > span {
		position: relative;
		width: 80%;
		height: 70%;
		display: flex;
		align-items: center;
		justify-content: center;

		&::after,
		&::before {
			content: "";
			display: block;
			width: 100%;
			height: 0.15em;
			border-radius: 5em;
			background-color: var(--color-text-primary);
			position: absolute;
			transition: background-color 0.5s, top 0.3s ease 0.3s, bottom 0.3s ease 0.3s, transform 0.3s ease;
		}

		&::after {
			top: 0;
		}

		&::before {
			bottom: 0;
		}

		& > span {
			display: block;
			width: 100%;
			height: 0.15em;
			border-radius: 1rem;
			background-color: var(--color-text-primary);
			transition: background-color 0.5s, opacity 0.3s ease;
		}
	}

	@media (max-width: 999px) {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}
}

.nav__btn.open > span::after {
	top: 50%;
	transform: translateY(-50%) rotate(45deg);
	transition: top 0.3s ease, transform 0.3s ease 0.3s;
}

.nav__btn.open span::before {
	bottom: 50%;
	transform: translateY(50%) rotate(-45deg);
	transition: bottom 0.3s ease, transform 0.3s ease 0.3s;
}

.nav__btn.open span > span {
	opacity: 0;
	transition: opacity 0.3s ease;
}

.nav__btn:hover {
	transform: scale(0.95);
}

.nav-menu {
	@media (min-width: 999px) {
		display: none;
	}
}

.btn-lang {
	font-weight: 700;
	font-size: calc(var(--offset) * 0.8);
	color: var(--color-bg-dark-blue);
	padding: 0.7em;
	box-shadow: 0 0 0 0.1em #e9e9e9;
	border-radius: 2em;
	transition-duration: 0.5s;
	transition-property: color, box-shadow;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 0.3em;

	@media (max-width: 999px) {
		font-size: var(--fz);
	}

	& svg {
		width: 0.7em;
		height: 0.7em;
		transition: transform 0.3s ease-in-out;
	}

	&:hover,
	&:focus,
	&:focus-within {
		box-shadow: 0 0 0 0.05em var(--color-bg-dark-blue);
	}
}

.link-desc {
	display: flex;
	flex-direction: column;
}

.dropdown {
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	position: absolute;
	z-index: 10;
	top: calc(var(--offset) * 2.5);
	left: 50%;
	transform: translateX(-50%);
	border-radius: 1.4em;
	padding: 0.7em 1.5em 0.7em 0.9em;
	box-shadow: 0 0 0 0.05em var(--color-bg-dark-blue);

	@media (max-width: 999px) {
		top: calc(var(--offset) * 3);
	}

	&-item {
		font-weight: 600;
		font-size: var(--fz);
		letter-spacing: -0.04em;
		color: var(--color-bg-dark-blue);
	}

	&-link {
		transition-duration: 0.5s;
		transition-property: color;

		&:hover,
		&:focus,
		&:focus-within {
			color: var(--color-text-secondary);
		}
	}
}

.nav-lang-dropdown[open] .btn-lang svg {
	transform: rotate(180deg);
	transition: transform 0.3s ease-in-out;
}

.btn {
	width: fit-content;
	font-weight: 700;
	font-size: calc(var(--fz) * 0.9);
	text-align: right;
	color: #fff;
	padding: 0.7em 1.4em;
	border-radius: 2em;
	background-color: var(--color-bg-dark-blue);
	box-shadow: 0 0 0 0.1em var(--color-bg-dark-blue);
	transition-duration: 0.5s;
	transition-property: color, background-color, box-shadow;

	&:hover,
	&:focus,
	&:focus-within {
		background-color: #fff;
		color: var(--color-bg-dark-blue);
	}
}

.main {
	&-head {
		display: flex;
		align-items: stretch;
		min-height: 60vh;
		gap: calc(var(--offset) * 2);
		justify-content: space-between;
		margin-bottom: calc(var(--offset) * 4);
		@media (max-width: 999px) {
			flex-direction: column-reverse;
			align-items: center;
			gap: var(--offset);
		}

		&__desc {
			width: 50%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			margin: auto 0;

			@media (max-width: 999px) {
				width: 100%;
				align-items: center;
			}

			& p {
				margin-bottom: calc(var(--offset) * 2);
				font-weight: 400;
				font-size: var(--fz);
				color: var(--color-text-primary);

				@media (max-width: 580px) {
					text-align: center;
					max-width: 90%;
				}
			}
		}

		&__image {
			width: 50%;
			height: 100%;
			margin: auto 0;

			@media (max-width: 999px) {
				width: 100%;
			}

			& img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}
.title {
	font-weight: 700;
	font-size: calc(var(--fz) * 4);
	line-height: 102%;
	letter-spacing: -0.03em;
	color: var(--color-text-primary);
	// margin-bottom: var(--offset);

	@media (max-width: 999px) {
		text-align: center;
	}

	@media (max-width: 580px) {
		font-size: calc(var(--fz) * 3);
	}

	& span {
		color: var(--color-text-blue);
	}
}
.map__title {
	& h1 {
		font-weight: 700;
		font-size: calc(var(--fz) * 2);
		line-height: 47px;
		color: var(--color-text-primary);
		margin-top: calc(var(--offset) * 0.5);
	}

	@media (max-width: 999px) {
		display: flex;
		align-items: flex-end;
		justify-content: space-evenly;
		& span {
			font-size: calc(var(--fz) * 5);
		}
	}

	@media (max-width: 580px) {
		font-size: calc(var(--fz) * 3);
	}

	& span {
		font-weight: 900;
		font-size: calc(var(--fz) * 10);
		line-height: 70px;
		color: var(--color-text-blue);
	}
}
.map {
	display: flex;
	align-items: center;
	position: relative;
	min-height: 100vh;
	margin-top: var(--offset);
	&__image {
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: -1;
		& img {
			width: 100%;
			height: 100%;
			object-fit: fill;

			@media (max-width: 1280px) {
				object-fit: cover;
			}
		}
	}
	&-container {
		display: flex;
		align-items: center;
		gap: calc(var(--offset) * 2);
		padding: 0 var(--offset-xl);
		width: 100%;

		@media (max-width: 1280px) {
			padding: 0 calc(var(--offset) * 2);
		}

		@media (max-width: 480px) {
			padding: 0 var(--offset);
		}
	}
	@media (max-width: 999px) {
		&__desc {
			width: 100%;
			text-align: center;
		}
		&__map {
			width: 100%;
			justify-content: center;
		}
		&-container {
			align-items: flex-end;
			flex-direction: column;
			justify-content: flex-end;
		}
	}
	&__desc {
		width: 60%;
		& p {
			font-weight: 400;
			font-size: calc(var(--fz) * 1);
			line-height: 135%;
			color: var(--color-text-secondary);
		}
	}
	&__map {
		display: flex;
		position: relative;
		align-items: center;
		width: 50%;
		height: 100%;
		margin: auto 0;

		@media (max-width: 999px) {
			width: 100%;
		}

		& svg {
			width: calc(var(--offset) * 40);
			height: calc(var(--offset) * 50);
			object-fit: cover;
		}
	}
}
.map-slice {
	fill: #068dd9;
	transform-origin: 0.5s;
	transition-property: fill;
	&.active {
		fill: rgb(5, 130, 203);
	}
}
.pin {
	position: absolute;
	transition: all, 0.5s;
	width: calc(var(--offset) * 2.5);
	height: calc(var(--offset) * 3.5);
	&[data-pin="north"] {
		left: 60%;
		top: 25%;
	}
	&[data-pin="seoul"] {
		left: 38%;
		top: 20%;
	}
	&[data-pin="south"] {
		left: 31%;
		top: 34%;
	}
	&[data-pin="daegu"] {
		left: 56%;
		top: 43%;
	}
	&[data-pin="jeolla"] {
		left: 25%;
		top: 57%;
	}
	&:hover {
		transform: scale(1.05);
	}
	@media (max-width: 999px) {
		display: none;
	}
}
.desc {
	padding: 20px;
	background-color: white;
	max-width: 30vw;
	position: absolute;
	z-index: 10;
	opacity: 0;
	pointer-events: none;
	border-radius: 10px;
	transition-duration: 0.5s;
	transition-property: opacity;
	& h1 {
		font-weight: 700;
		font-size: calc(var(--fz));
		text-transform: uppercase;
	}
	& h2 {
		font-weight: 700;
		font-size: calc(var(--fz));
	}
	& p {
		font-weight: 400;
		font-size: calc(var(--fz) * 0.8);
		line-height: 135%;
		color: var(--color-text-secondary);
	}
	.triangle {
		height: 20px;
		width: 20px;
		background-color: inherit;
		border: inherit;
		position: absolute;
		right: 10px;
		bottom: -5px;
		clip-path: polygon(0% 0%, 100% 100%, 0% 100%);
		transform: rotate(-45deg);
		border-radius: 0 0 0 0.25em;
	}

	&.north {
		left: -14%;
		top: 9%;
	}
	&.seoul {
		left: -40%;
		top: 5%;
	}
	&.south {
		left: -42%;
		top: 17%;
	}
	&.daegu {
		right: 20%;
		top: 20%;
	}
	&.jeolla {
		left: -48%;
		top: 42%;
	}
	&.active {
		opacity: 1;
		z-index: 1;
	}
}
#map_small {
	display: none;
}
.about {
	width: 100%;
	background-color: var(--color-bg-secondary);
	padding-bottom: calc(var(--offset) * 5);
	@media (max-width: 999px) {
		&-container {
			flex-direction: column;
		}
		&__desc {
			text-align: center;
			width: 100%;
			& div {
				flex-direction: column-reverse;
			}
			& button {
				display: none;
			}
		}
		&__cards {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			& button {
				display: block;
			}
		}
	}
	&-container {
		display: flex;
		align-items: center;
		gap: calc(var(--offset) * 2);
		padding: 0 var(--offset-xl);

		@media (max-width: 1280px) {
			padding: 0 calc(var(--offset) * 2);
		}

		@media (max-width: 480px) {
			padding: 0 var(--offset);
		}
	}
	&__desc {
		width: 50%;

		& h2 {
			font-size: calc(var(--fz) * 1);
			color: var(--color-bg-dark-blue);
			margin-bottom: var(--offset);
		}
		& h1 {
			font-weight: 700;
			font-size: calc(var(--fz) * 2);
			line-height: 126%;
			color: var(--color-text-primary);
			margin-bottom: var(--offset);
			& span {
				color: var(--color-text-blue);
			}
		}
		& div {
			display: flex;
			flex-direction: column;
			font-weight: 400;
			font-size: calc(var(--fz) * 0.8);
			line-height: 135%;
			color: var(--color-text-secondary);
			margin-bottom: calc(var(--offset) * 2);
		}
		& button {
			width: fit-content;
			font-weight: 700;
			font-size: calc(var(--fz) * 0.9);
			text-align: right;
			color: #fff;
			padding: 0.7em 1.4em;
			border-radius: 2em;
			background-color: var(--color-bg-dark-blue);
			box-shadow: 0 0 0 0.1em var(--color-bg-dark-blue);
			transition-duration: 0.5s;
			transition-property: color, background-color, box-shadow;

			&:hover,
			&:focus,
			&:focus-within {
				background-color: #fff;
				color: var(--color-bg-dark-blue);
			}
		}
	}
	&__cards {
		width: 50%;
		& > * {
			margin-bottom: 20px;
		}
		& button {
			margin-top: var(--offset);
			display: none;
			width: fit-content;
			font-weight: 700;
			font-size: calc(var(--fz) * 0.9);
			text-align: right;
			color: #fff;
			padding: 0.7em 1.4em;
			border-radius: 2em;
			background-color: var(--color-bg-dark-blue);
			box-shadow: 0 0 0 0.1em var(--color-bg-dark-blue);
			transition-duration: 0.5s;
			transition-property: color, background-color, box-shadow;

			&:hover,
			&:focus,
			&:focus-within {
				background-color: #fff;
				color: var(--color-bg-dark-blue);
			}
		}
	}
	&__card {
		border-radius: 20px;
		width: 100%;
		padding: 30px;
		background-color: white;
		transform: translateY(20px);
		transition: opacity 0.6s ease, transform 0.6s ease;
		&.active {
			opacity: 1;
			transform: translateY(0);
		}

		& h2 {
			font-weight: 700;
			font-size: var(--fz);
			color: var(--color-text-primary);
			transition: color 0.3s ease;
		}

		& p {
			display: none;
			font-weight: 400;
			max-width: 76%;
			font-size: calc(var(--fz) * 0.7);
			color: #fff;
			transition: opacity 0.3s ease;
		}

		& svg {
			width: 32px;
			height: 32px;
			fill: var(--color-bg-dark-blue);
			transition: all 0.3s ease;
		}

		&:hover {
			background-color: var(--color-bg-dark-blue);

			& h2 {
				color: white;
			}

			& p {
				display: block;
				opacity: 1;
			}

			& svg {
				width: 62px;
				height: 60px;
				fill: white;
				margin-bottom: calc(var(--offset) * 2);
			}
		}
	}
}
.section-title {
	margin-left: calc(var(--offset) * 2);
	margin-bottom: calc(var(--offset) * 2);
	font-weight: 700;
	font-size: calc(var(--fz) * 2);
	@media (max-width: 999px) {
		text-align: center;
	}
}
.benefit {
	margin-top: calc(var(--offset) * 5);
	margin-bottom: calc(var(--offset) * 5);
	&__cards {
		display: flex;
		justify-content: space-between;
		background-color: var(--color-bg-secondary);
		border-radius: 20px;
		@media (max-width: 999px) {
			flex-direction: column;
		}
	}
	&__card {
		width: 30%;
		height: 50%;
		padding: calc(var(--offset) * 3);
		border-radius: 20px;
		transition: all 0.2s ease;
		@media (max-width: 999px) {
			width: 100%;
			padding: calc(var(--offset) * 3) var(--offset);
			& svg {
				width: calc(var(--offset) * 2);
				height: calc(var(--offset) * 2);
			}
		}
		& svg {
			width: calc(var(--offset) * 3);
			height: calc(var(--offset) * 3);
			fill: #1f3c88;
			margin-bottom: calc(var(--offset) * 2);
		}
		& h2 {
			font-weight: 700;
			font-size: calc(var(--fz) * 1.2);
			line-height: 112%;
		}
		& p {
			font-weight: 400;
			color: var(--color-text-secondary);
			font-size: calc(var(--fz) * 0.9);
		}
		&:hover {
			background-color: #068dd9;
			& h2,
			& p {
				color: white;
			}
			& svg {
				fill: white;
			}
		}
	}
}
.network {
	margin-bottom: calc(var(--offset) * 10);
	&__cards {
		position: relative;
		display: flex;
		flex-direction: column;
		padding-bottom: calc(var(--offset) * 20);
	}
	&__card {
		width: 100%;
		position: absolute;
		top: 0px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: white;
		padding: calc(var(--offset) * 3);
		box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.07);
		border-radius: 30px;
		&:nth-child(1) {
			z-index: 4;
		}
		&:nth-child(2) {
			& svg {
				display: none;
			}
			z-index: 3;
			top: 45%;
		}
		&:nth-child(3) {
			& svg {
				display: none;
			}
			z-index: 2;
			top: 75%;
		}
		&:nth-child(4) {
			& svg {
				display: none;
			}
			z-index: 1;
			top: 80%;
		}
		&-desc {
			width: 40%;
			& svg {
				width: calc(var(--offset) * 2);
				height: calc(var(--offset) * 2);
				fill: var(--color-bg-dark-blue);
				margin-bottom: calc(var(--offset) * 2);
			}
			& h1 {
				font-weight: 700;
				font-size: calc(var(--fz) * 1.7);
			}
			& p {
				font-weight: 500;
				font-size: calc(var(--fz) * 0.8);
				color: var(--color-text-secondary);
			}
		}
		&-image {
			display: flex;
			justify-content: flex-end;
			border-radius: 20px;
			& img {
				width: 100%;
				height: 100%;
				object-fit: fill;
				width: 50%;
			}
		}
	}
}
.investments {
	margin-top: calc(var(--offset) * 12);
	display: flex;
	background-color: var(--color-bg-secondary);
	align-items: flex-end;
	padding-bottom: calc(var(--offset) * 10);
	@media (max-width: 999px) {
		margin-top: calc(var(--offset) * 20);
		text-align: center;
		&__cards {
			display: flex;
			flex-direction: column;
			height: calc(var(--offset) * 35);
		}
		&__card {
			width: 100%;
			text-align: left;
		}
	}
	&__image {
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: -1;
		& img {
			width: 100%;
			height: 100%;
			object-fit: fill;

			@media (max-width: 1280px) {
				object-fit: cover;
			}
		}
	}
	& h2 {
		font-size: calc(var(--fz) * 1);
		color: var(--color-bg-dark-blue);
		margin-bottom: var(--offset);
	}
	& h1 {
		font-weight: 700;
		font-size: calc(var(--fz) * 2);
		line-height: 126%;
		color: var(--color-text-primary);
		margin-bottom: calc(var(--offset) * 2);
	}
	&__cards {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: calc(var(--offset) * 25);
	}
	&__card {
		box-shadow: 0 0 24px 1px rgba(0, 0, 0, 0.03);
		background-color: white;
		border-radius: 30px;
		padding: calc(var(--offset) * 1.5);
		width: 32%;
		border-radius: 20px;
		transition: all 0.2s ease;
		& svg {
			width: calc(var(--offset) * 2);
			height: calc(var(--offset) * 2);
			fill: #1f3c88;
			margin-bottom: calc(var(--offset) * 2);
		}
		& p {
			font-weight: 400;
			font-size: calc(var(--fz) * 0.9);
		}
		&:hover {
			background-color: #068dd9;
			& p {
				color: #fff;
			}
			& svg {
				fill: white;
			}
		}

		&:nth-child(1) {
			align-self: flex-start;
		}
		&:nth-child(2) {
			align-self: center;
		}
		&:nth-child(3) {
			align-self: flex-end;
		}
	}
}
.cooperation {
	background-color: var(--color-bg-secondary);
	padding-bottom: calc(var(--offset) * 4);
	@media (max-width: 999px) {
		& h1 {
			text-align: center;
			font-size: calc(var(--fz) * 1.5);
		}
		&__inner {
			flex-direction: column;
		}
		&__image {
			width: 100%;
			height: 50%;
			margin-bottom: var(--offset);
		}
		&__options {
			width: 100%;
		}
		&__option {
			padding: 4%;
			flex-direction: column;
			&-desc {
				width: 100%;
			}
			&-image {
				width: calc(var(--offset) * 5);
				& svg {
					width: calc(var(--offset) * 1.5);
					height: calc(var(--offset) * 4);
				}
			}
		}
	}
	& h1 {
		font-weight: 700;
		font-size: calc(var(--fz) * 2);
		line-height: 126%;
		color: var(--color-text-primary);
		margin-bottom: calc(var(--offset) * 2);
	}
	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__image {
		width: 50%;
		height: 100%;
		& img {
			width: 100%;
			height: 100%;
			object-fit: fill;

			@media (max-width: 1280px) {
				object-fit: cover;
			}
		}
	}
	&__options {
		width: 45%;
		display: flex;
		flex-direction: column;
	}
	&__option {
		width: 100%;
		height: 20%;
		display: flex;
		justify-content: space-between;
		background-color: white;
		border-radius: 12px;
		margin-bottom: var(--offset);
		&-image {
			width: 20%;
			border-radius: 10px;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: var(--color-bg-dark-blue);
			& svg {
				width: calc(var(--offset) * 2);
				height: calc(var(--offset) * 2);
				fill: white;
			}
		}
		&-desc {
			width: 70%;
			padding: 3%;
			& h2 {
				font-weight: 700;
				font-size: calc(var(--fz));
			}
			& p {
				font-weight: 400;
				font-size: calc(var(--fz) * 0.7);
			}
		}
	}
}
.projects {
	margin-top: calc(var(--offset) * 4);
	margin-bottom: calc(var(--offset) * 5);
	@media (max-width: 999px) {
		text-align: center;
		&__tabs {
			flex-direction: column;
			align-items: center;
			&-inner {
				flex-direction: column;
			}
			&-card {
				width: 100%;
				text-align: left;
			}
		}
	}
	& h2 {
		font-size: calc(var(--fz) * 1);
		color: var(--color-bg-dark-blue);
		margin-bottom: var(--offset);
	}
	& h1 {
		font-weight: 700;
		font-size: calc(var(--fz) * 2);
		line-height: 126%;
		color: var(--color-text-primary);
		margin-bottom: calc(var(--offset) * 2);
	}
	&__tabs {
		display: flex;
		& button {
			margin-right: var(--offset);
			background-color: white;
			color: var(--color-bg-dark-blue);
			margin-bottom: calc(var(--offset) * 3);
		}
		& button.active {
			background-color: var(--color-bg-dark-blue);
			color: white;
		}
		&-inner {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
		}
		&-card {
			width: 48%;
			& img {
				width: 100%;
				height: 100%;
				margin-bottom: calc(var(--offset) * 2);
			}
			& h1 {
				font-weight: 700;
				font-size: calc(var(--fz) * 1.5);
				color: var(--color-text-primary);
				line-height: 126%;
				margin-bottom: calc(var(--offset) * 2);
			}
		}
	}
}
@media (max-width: 999px) {
	#map_small {
		display: block;
	}
	#map_big {
		display: none;
	}
}
