<section class="about" id="about">
	<div class="about-container">
		<div class="about__desc">
			<h2>О компании</h2>
			<h1>От небольшого магазина до большой сети <span>"Радуга" — для русскоязычных в Корее</span></h1>
			<div>
				<p>Радуга начала свой путь в 2019 году с небольшого магазина в городе Пентек.</p>
				<p>
					Сегодня мы — крупная сеть магазинов для русскоязычного сообщества в Корее, обеспечивающая тысячи семей качественными
					товарами
				</p>
			</div>
			<a class="btn" href="#form">Оставить заявку</a>
		</div>
		<div class="about__cards">
			<div class="about__card">
				<svg>
					<use xlink:href="#rocket"></use>
				</svg>
				<h2>Поддержка русскоязычного сообщества</h2>
				<p>
					Мы стремимся быть ближе к людям: регулярно организуем мероприятия, участвуем в жизни сообщества и поддерживаем
					культурные и спортивные инициативы. Также выступаем спонсорами на спортивных событиях, чтобы вносить вклад в развитие
					активного и дружного русскоязычного сообщества.
				</p>
			</div>

			<div class="about__card">
				<svg>
					<use xlink:href="#target"></use>
				</svg>
				<h2>Качество и доступность продукции</h2>
				<p>
					Качество, доступность и цена — основа нашей политики. Мы тщательно отбираем поставщиков и контролируем качество
					продукции, чтобы наши покупатели получали лучший сервис и могли выбирать из самого большого ассортимента по оптимальным
					ценам.
				</p>
			</div>
			<div class="about__card">
				<svg>
					<use xlink:href="#clean-hands"></use>
				</svg>
				<h2>Инновации и развитие</h2>
				<p>
					Мы постоянно внедряем новые технологии, развиваем сервисы и улучшаем процессы, чтобы предложить вам ещё более удобный,
					быстрый и современный опыт покупок. От онлайн-доставки до новых форматов магазинов — мы движемся вперёд вместе с вами.
				</p>
			</div>
			<a class="btn" href="#form">Оставить заявку</a>
		</div>
	</div>
</section>
