<section class="benefit">
	<h1 class="section-title">Преимущества компании</h1>
	<div class="benefit__cards">
		<div class="benefit__card">
			<svg>
				<use xlink:href="#search"></use>
			</svg>
			<h2>Высокая узнаваемость бренда среди русскоязычного сообщества</h2>
			<p>
				Наш бренд хорошо известен среди русскоязычного сообщества по всей Корее. Мы построили доверительные отношения с клиентами
				благодаря качественным товарам, надежному сервису и удобным условиям сотрудничества.
			</p>
		</div>
		<div class="benefit__card">
			<svg>
				<use xlink:href="#idea"></use>
			</svg>
			<h2>Стабильный спрос на продукцию</h2>
			<p>
				Главная ценность, которой мы обладаем — это наша репутация и доверие наших клиентов. Мы дорожим нашими партнёрами и
				заказчиками
			</p>
		</div>
		<div class="benefit__card">
			<svg>
				<use xlink:href="#clean-hands_v2"></use>
			</svg>
			<h2>Высокая узнаваемость бренда среди русскоязычного сообщества</h2>
			<p>
				Наш бренд хорошо известен среди русскоязычного сообщества по всей Корее. Мы построили доверительные отношения с клиентами
				благодаря качественным товарам, надежному сервису и удобным условиям сотрудничества.
			</p>
		</div>
	</div>
</section>
