<section class="cooperation">
	<div class="container">
		<h1>Форматы сотрудничества</h1>
		<div class="cooperation__inner">
			<div class="cooperation__image">
				<picture>
					<source srcset="./images/partnership.avif" />
					<img src="./images/partnership.png" alt="партнерство" />
				</picture>
			</div>
			<div class="cooperation__options">
				<div class="cooperation__option">
					<div class="cooperation__option-image">
						<svg>
							<use xlink:href="#investment"></use>
						</svg>
					</div>
					<div class="cooperation__option-desc">
						<h2>Прямые инвестиции</h2>
						<p>
							Возможность стать частью успешной сети магазинов, объединяющей русскоязычное сообщество в Корее. Вместе мы
							растём и расширяемся, создавая пространство, которое приносит стабильный доход и сближает людей
						</p>
					</div>
				</div>
				<div class="cooperation__option">
					<div class="cooperation__option-image">
						<svg>
							<use xlink:href="#handshake"></use>
						</svg>
					</div>
					<div class="cooperation__option-desc">
						<h2>Партнёрство</h2>
						<p>
							Совместное развитие сети магазинов, объединяющей русскоязычное сообщество в Корее. Мы предлагаем выгодные
							условия сотрудничества, прозрачность и возможность расти вместе, создавая уникальную экосистему для наших
							клиентов.
						</p>
					</div>
				</div>
				<div class="cooperation__option">
					<div class="cooperation__option-image">
						<svg>
							<use xlink:href="#franchise"></use>
						</svg>
					</div>
					<div class="cooperation__option-desc">
						<h2>Франшиза</h2>
						<p>
							Ваш шанс стать частью успешной сети магазинов, объединяющей русскоязычное сообщество в Корее. Мы предоставляем
							проверенную бизнес-модель, поддержку на всех этапах и готовые решения для быстрого старта и уверенного роста!
						</p>
					</div>
				</div>
				<div class="cooperation__option">
					<div class="cooperation__option-image">
						<svg>
							<use xlink:href="#supply"></use>
						</svg>
					</div>
					<div class="cooperation__option-desc">
						<h2>Снабжение</h2>
						<p>
							Ключ к стабильной работе нашей сети магазинов. Мы обеспечиваем качественные и своевременные поставки, чтобы
							полки всегда были наполнены любимыми товарами наших клиентов
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
