<header>
	<nav class="nav">
		<div class="nav__top">
			<a class="nav__logo" href="/" aria-label="ссылка на главную странницу">
				<img src="./images/svg/logo.svg" alt="Логотип компании" width="70" height="56" />
				<span> Сеть магазинов, объединяющая русскоязычное сообщество в Корее </span>
			</a>

			<a class="nav__network" href="mailto:info@raduga.kr" aria-label="наша почта">
				<svg width="18" height="11">
					<use xlink:href="#mail"></use>
				</svg>
				<span>info@raduga.kr</span>
			</a>

			<a class="nav__network" href="tel:+821082728786" aria-label="наша номер для связи">
				<svg width="18" height="18">
					<use xlink:href="#tel"></use>
				</svg>
				<div class="link-desc">
					<span>Телефон для справок</span>
					<b>+8210 8272-8786</b>
				</div>
			</a>

			<div class="nav-lang">
				<details class="nav-lang-dropdown" aria-label="языковое меню">
					<summary class="btn-white">Ru</summary>
					<ul class="dropdown">
						<li class="dropdown-item">
							<a href="#" class="dropdown-link" aria-label="английский язык"> En </a>
						</li>

						<li class="dropdown-item">
							<a href="#" class="dropdown-link" aria-label="узбекский язык"> Kr </a>
						</li>
					</ul>
				</details>
			</div>

			<a class="btn" href="#">Сотрудничать c нами</a>
		</div>
		<div class="nav__bottom"></div>
	</nav>
</header>
