<section class="investments">
	<div class="investments__image">
		<picture>
			<source srcset="./images/map-bg.avif" />
			<img src="./images/map-bg.png" width="1952" height="992" alt="магазин радуга" />
		</picture>
	</div>
	<div class="container">
		<h2>Инвестиции</h2>
		<h1>Почему инвестировать в “Радугу”</h1>
		<div class="investments__cards">
			<div class="investments__card">
				<svg>
					<use xlink:href="#clock"></use>
				</svg>
				<p>Быстро растущий рынок. Русскоязычное сообщество стабильно растет, и мы расширяемся на новые сегменты.</p>
			</div>
			<div class="investments__card">
				<svg>
					<use xlink:href="#invetsment_hands"></use>
				</svg>
				<p>Быстро растущий рынок. Русскоязычное сообщество стабильно растет, и мы расширяемся на новые сегменты.</p>
			</div>
			<div class="investments__card">
				<svg>
					<use xlink:href="#winner"></use>
				</svg>
				<p>Быстро растущий рынок. Русскоязычное сообщество стабильно растет, и мы расширяемся на новые сегменты.</p>
			</div>
		</div>
	</div>
</section>
