<section class="join">
	<div class="join__image">
		<picture class="join__image-desktop">
			<source srcset="./images/join.avif" />
			<img src="./images/join.png" alt="Join" />
		</picture>
		<picture class="join__image-mobile">
			<source srcset="./images/join-mob.avif" />
			<img class="" src="./images/join-mob.png" alt="Join" />
		</picture>
	</div>
	<div class="join__desc">
		<h1>Присоединяйтесь к нашей сети и станьте частью успешного бизнеса!</h1>
		<p>Оставьте свои контактные данные, и мы свяжемся с вами в ближайшее время.</p>
		<a href="#form" class="btn">Оставьте заявку</a>
	</div>
</section>
