<section class="map">
	<div class="map__image">
		<picture>
			<source srcset="./images/map-bg.avif" />
			<img src="./images/map-bg.avif" width="1952" height="992" alt="магазин радуга" />
		</picture>
		
	</div>
	<div class="map-container">
		<div class="map__desc">
			<div class="map__title">
				<span>>10</span>
				<h1>Магазинов по всей Корее</h1>
			</div>
			<p>
				Развивая сеть из более чем 10 магазинов по всей стране и имея собственный склад, мы обеспечиваем бесперебойные поставки
				качественных товаров для магазинов, ресторанов, кафе и других B2B-клиентов.
			</p>
		</div>
		<div class="map__map">
			<svg>
				<use xlink:href="#map"></use>
			</svg>
			<img class="pin" data-pin="asana" src="./images/svg/pin.svg" alt="Pin" width="50" height="70" />
			<img class="pin" data-pin="hvason" src="./images/svg/pin.svg" alt="Pin" width="50" height="70" />
			<img class="pin" data-pin="phentek" src="./images/svg/pin.svg" alt="Pin" width="50" height="70" />
			<img class="pin" data-pin="anson" src="./images/svg/pin.svg" alt="Pin" width="50" height="70" />
			<img class="pin" data-pin="kvandju" src="./images/svg/pin.svg" alt="Pin" width="50" height="70" />
			<d   class="desc asana">

				<h1>г. Асан, Синчанг, Дунпо</h1>
				<p>
				Магазинов: 3
				</p>
				<h2>Адрес:</h2>
				<p>충남 아산시 온천대로 1084</p>
				<h2>Адрес:</h2>
				<p>충청남도 아산시 둔포면 둔포리399.</p>
				<h2>Адрес:</h2>
				<p>둔포리 305-5</p>
				<!-- <div class="triangle"></div> -->
			</d>
			<d   class="desc hvason">

				<h1>г. Хвасонг, Намьянг, Чоам</h1>
				<p>Магазинов: 2</p>
				<h2>Адрес:</h2>
				<p>경기도 화성시 남양읍 남양리 1172-30</p>
				<h2>Адрес:</h2>
				<p>장안면 사곡리 164-1</p>
				<!-- <div class="triangle"></div> -->
			</d>
			<d  class="desc phentek">

				<h1>Г. Пхентек</h1>
				<p>
				Магазинов: 4
				</p>
				<h2>Адрес:</h2>
				<p>중앙대학로129</p>
				<h2>Адрес:</h2>
				<p>경기도 평택시 안중읍 안현로서5길 51</p>
				<h2>Адрес:</h2>
				<p>경기도 평택시 포승읍 여술 4 길9</p>
				<h2>Адрес:</h2>
				<p>경기도 평택시 포승읍 여술 3길 60</p>
				<!-- <div class="triangle"></div> -->
			</d>
			<d   class="desc anson">

				<h1>г. Ансонг</h1>
				<p>Магазинов: 2</p>
				<h2>Адрес:</h2>
				<p>금산동 165-3</p>
				<h2>Адрес:</h2>
				<p>중앙대학로129</p>
				<div class="triangle"></div>
			</d>
			<d   class="desc kvandju">

				<h1>г. Большой Кванджу</h1>
				<p>Магазинов: 1</p>
				<h2>Адрес:</h2>
				<p>광주 광산구 용아로400번길 29</p>
				<!-- <div class="triangle"></div> -->
			</d>
			</div>
		</div>
	</div>
</section>
