<section class="map">
	<div class="map__image">
		<picture>
			<source srcset="./images/map-bg.avif" />
			<img src="./images/map-bg.avif" width="1952" height="992" alt="магазин радуга" />
		</picture>
		
	</div>
	<div class="map-container">
		<div class="map__desc">
			<div class="map__title">
				<span>>10</span>
				<h1>Магазинов по всей Корее</h1>
			</div>
			<p>
				Развивая сеть из более чем 10 магазинов по всей стране и имея собственный склад, мы обеспечиваем бесперебойные поставки
				качественных товаров для магазинов, ресторанов, кафе и других B2B-клиентов.
			</p>
		</div>
		<div class="map__map">
			<svg>
				<use xlink:href="#map_big"></use>
			</svg>
			<img class="pin" data-pin="north" src="/images/svg/pin.svg" alt="Pin" width="50" height="70" />
			<img class="pin" data-pin="seoul" src="./images/svg/pin.svg" alt="Pin" width="50" height="70" />
			<img class="pin" data-pin="south" src="./images/svg/pin.svg" alt="Pin" width="50" height="70" />
			<img class="pin" data-pin="daegu" src="./images/svg/pin.svg" alt="Pin" width="50" height="70" />
			<img class="pin" data-pin="jeolla" src="./images/svg/pin.svg" alt="Pin" width="50" height="70" />
			<d  iv class="desc north">

				<h1>Название Города</h1>
				<p>
				Lorem ipsum dolor sit amet consectetur. Id a sed eget ultricies augue morbi cursus malesuada auctor. Et aliquet elementum semper justo at diam sit ante enim. Vel eget placerat consectetur massa enim aliquet elementum elementum non. Commodo aliquam arcu gravida feugiat.
				</p>
				<h2>Адрес:</h2>
				<p>Lorem ipsum dolor sit amet consectetur.</p>
				<div class="triangle"></div>
			</d>
			<d  iv class="desc seoul">

				<h1>Название Города</h1>
				<p>
				Lorem ipsum dolor sit amet consectetur. Id a sed eget ultricies augue morbi cursus malesuada auctor. Et aliquet elementum semper justo at diam sit ante enim. Vel eget placerat consectetur massa enim aliquet elementum elementum non. Commodo aliquam arcu gravida feugiat.
				</p>
				<h2>Адрес:</h2>
				<p>Lorem ipsum dolor sit amet consectetur.</p>
				<div class="triangle"></div>
			</d>
			<d  iv class="desc south">

				<h1>Название Города</h1>
				<p>
				Lorem ipsum dolor sit amet consectetur. Id a sed eget ultricies augue morbi cursus malesuada auctor. Et aliquet elementum semper justo at diam sit ante enim. Vel eget placerat consectetur massa enim aliquet elementum elementum non. Commodo aliquam arcu gravida feugiat.
				</p>
				<h2>Адрес:</h2>
				<p>Lorem ipsum dolor sit amet consectetur.</p>
				<div class="triangle"></div>
			</d>
			<d  iv class="desc daegu">

				<h1>Название Города</h1>
				<p>
				Lorem ipsum dolor sit amet consectetur. Id a sed eget ultricies augue morbi cursus malesuada auctor. Et aliquet elementum semper justo at diam sit ante enim. Vel eget placerat consectetur massa enim aliquet elementum elementum non. Commodo aliquam arcu gravida feugiat.
				</p>
				<h2>Адрес:</h2>
				<p>Lorem ipsum dolor sit amet consectetur.</p>
				<div class="triangle"></div>
			</d>
			<d  iv class="desc jeolla">

				<h1>Название Города</h1>
				<p>
				Lorem ipsum dolor sit amet consectetur. Id a sed eget ultricies augue morbi cursus malesuada auctor. Et aliquet elementum semper justo at diam sit ante enim. Vel eget placerat consectetur massa enim aliquet elementum elementum non. Commodo aliquam arcu gravida feugiat.
				</p>
				<h2>Адрес:</h2>
				<p>Lorem ipsum dolor sit amet consectetur.</p>
				<div class="triangle"></div>
			</d>
			</div>
		</div>
	</div>
</section>
