<section class="network" id="network">
	<h1 class="section-title">Наша сеть</h1>
	<div class="network__cards">
		<div class="network__card">
			<div class="network__card-desc">
				<svg><use xlink:href="#locking"></use></svg>
				<h2>География магазинов:</h2>
				<p>Магазины в 5 крупных городах Кореи, включая Кванжу, Пентек, Асан, Хвасонг и Танжин.</p>
			</div>
			<div class="network__card-image">
				<img src="./images/network-1.png" alt="География магазинов" />
			</div>
		</div>
		<div class="network__card">
			<div class="network__card-desc">
				<svg><use xlink:href="#locking"></use></svg>
				<h2>Ассортимент:</h2>
				<p>Продукты питания, товары для дома и многое другое.</p>
			</div>
			<div class="network__card-image">
				<img src="./images/network-2.png" alt="Ассортимент" />
			</div>
		</div>
		<div class="network__card">
			<div class="network__card-desc">
				<svg><use xlink:href="#locking"></use></svg>
				<h2>Планы расширения:</h2>
				<p>Открытие 5 новых магазинов с площадью более 1000 м² каждой к 2025 году.</p>
			</div>
			<div class="network__card-image">
				<img src="./images/network-3.png" alt="Планы расширения" />
			</div>
		</div>
		<div class="network__card">
			<div class="network__card-desc">
				<svg><use xlink:href="#locking"></use></svg>
				<h2>Примеры успешных филиалов:</h2>
				<p>- Магазин в Чоаме увеличил выручку на 30% после переезда в новое помещение.</p>
				<p>- Магазин в Ансонге удвоил оборот после присоединения к сети.</p>
				<p>- Магазин в Нери достиг двукратного роста выручки после интеграции.</p>
			</div>
			<div class="network__card-image">
				<img src="./images/network-4.png" alt="Примеры успешных филиалов" />
			</div>
		</div>
	</div>
</section>
