<section class="news">
	<h2>Новости</h2>
	<h1>Последние события</h1>
	<div class="news__inner">
		<div class="news__card">
			<picture>
				<source srcset="./images/news-1.avif" />
				<img src="./images/news-1.png" alt="Join" />
			</picture>
			<p>25 марта 2025 г.</p>
			<h1>Открытие нового филиала в Чоаме </h1>
		</div>

		<div class="news__card">
			<picture>
				<source srcset="./images/news-2.avif" />
				<img src="./images/news-2.png" alt="Join" />
			</picture>
			<p>25 марта 2025 г.</p>
			<h1>Проведение успешного розыгрыша на 10 млн вон в Кванджу</h1>
		</div>
	</div>
</section>
