<section class="projects">
	<h2>Проекты</h2>
	<h1>Текущие инициативы</h1>
	<div class="projects__tabs">
		<button class="btn active" data-tab="1">Текущие инициативы</button>
		<button class="btn" data-tab="2">Планируемые проекты</button>
	</div>
	<div class="projects__tabs-inner">
		<div class="projects__tabs-card">
			<picture>
				<source srcset="./images/project-1.avif" />
				<img src="./images/project-1.png" alt="Project 1" />
			</picture>
			<h1>Запуск приложения для доставки продуктов (релиз в 2025 году)</h1>
		</div>
		<div class="projects__tabs-card">
			<picture>
				<source srcset="./images/project-2.avif" />
				<img src="./images/project-2.png" alt="Project 1" />
			</picture>
			<h1>Открытие гипермаркета в городе Асан с площадью 1000 м²</h1>
		</div>
	</div>
</section>
