@font-face {
	font-family: 'Nunito';
	font-display: swap;
	src: url("../fonts/Nunito-Black.woff2") format("woff2"),
	url("../fonts/Nunito-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Nunito';
	font-display: swap;
	src: url("../fonts/Nunito-Bold.woff2") format("woff2"),
	url("../fonts/Nunito-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Nunito';
	font-display: swap;
	src: url("../fonts/Nunito-Medium.woff2") format("woff2"),
	url("../fonts/Nunito-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Nunito';
	font-display: swap;
	src: url("../fonts/Nunito-Regular.woff2") format("woff2"),
	url("../fonts/Nunito-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

